body{
    margin: 0;
    padding: 0;
    font-family: 'calibri light';
}

#linea{
    width: 100%;
    height: 5px;
    background: rgb(0, 0, 0);
}

#header{
    width: 100%;
    height: 90px;
    background:rgb(104, 30, 46);
}

#header #control1{
    width: 1100px;
    height: auto; overflow: hidden;
    border: 2px solid; 
    margin: auto;
    background: url(../ProyectoMarcas/imagenes/sistemaSolar.png);
    
}

#header #control1 #logo{
    width: 1100px; border: 4px solid;
    text-align: center;
    
}

#header #control1 #logo h2,p{ 
    color: #ffffff;
}

#header #control1 #logo p{
    margin-top: -20px;
}

#header #control1 #logo h2,p{
    text-align: center;
    
}

/*-----------------presentacion---------------*/

#presentacion{
    width: 100%;
    height: auto; overflow: hidden;
    background: #0a0a0a;
}

#presentacion #control2{
    width: 1100px;
    margin: auto;
}

#presentacion #control2 #izquierda{
    width: 290px;
    border: 1px solid;
    float: left;
}

#presentacion #control2 #izquierda h2{
    color: #ffffff;
    font-weight: lighter;
}

.descripcionP{
    color: #942a2a;
}

.boton{
    padding: 5px 20px;
    border-radius: 5px;
    border: 0px;
}

.boton:hover{
    background: #fc0808;
}

img {
    width: 770px;
    height: 450px;
    border: 0px;
    margin: 20px 0px;
    clear:both;
    /*float: right;*/
}

/*--------------------------imagenes-----------------------*/

#imagenes{
    width: 100%;
    height: 150px;
    background:rgb(104, 30, 46);
}