/*----------------BODY--------------*/
body{
    background-color: rgb(8, 8, 8);
    font-family: 'calibri light';
}
/*----------------CONTENEDOR----------*/
#container{
    width: 100%;
    margin: 0px auto;
    border: 1px solid red;
}
/*----------------ENCABEZADO-------------*/
header{
    background-color: rgb(94, 155, 212);
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 1px solid black;
    background: url(../ProyectoMarcas/imagenes/mercurioencabezado.png);
}
/*----------------CONTROL DE FLOTAMIENTO---------*/
.clearfix{
    clear: both;

}

/*----------------CONTENIDO-------------------*/
#content{
    float: left;
    width: calc(80% - 20px);
    background-color: rgb(156, 226, 243);
    min-height: 500px;
    padding: 10px;
}

/*----------------IMAGENES-----------------*/
.principal{
    width: 80%;
    height: 80%;
    border: 3px solid #400ef3 ;
    margin: 20px 50px;
    display:block;
    margin:auto;
}
.abajo{
    display:block;
    margin:auto;

}
/*----------------BARRA LATERAL-----------*/
aside{
    float: left;
    width: calc(20% - 20px);
    background-color: rgb(255, 255, 255);
    min-height: 500px;
    padding: 10px;
}
/*-----------------PIE DE PAGINA------------*/
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
